{:paths ["src" "test"]

 :deps {com.taoensso/telemere {:mvn/version "1.2.1"}
        io.github.cognitect-labs/test-runner
        {:git/tag "v0.5.1" :git/sha "dfb30dd"}}

 :aliases {:prod {:main-opts ["-m" "prod.core"]}}}
